/* variables/reusable component
 * */
/* General Outlne of Controller
 * */
.circle {
  width: 150px;
  height: 150px;
  background-color: #d7d7d7;
  border-radius: 50%;
}

#leftCircle {
  position: absolute;
}

#rightCircle {
  position: absolute;
  left: 275px;
}

#rectangle {
  position: absolute;
  background-color: #d7d7d7;
  left: 75px;
  height: 125px;
  width: 275px;
}

/* Left side of the controller with arrows
 * */
#arrow-container {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  top: 30px;
  left: 30px;
  position: absolute;
  z-index: 5;
  box-shadow: 1px 1px 1px grey inset, -1px -1px 1px grey inset, -1px 1px 1px grey inset, 1px -1px 1px grey inset;
}

.arrow {
  background-color: #575d61;
  z-index: 5;
  position: absolute;
}

#middle-arrow {
  width: 25px;
  height: 18px;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  top: 66px;
  left: 61px;
  z-index: 6;
}

#bottom-arrow {
  width: 18px;
  height: 20px;
  border-top: 0px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  top: 84px;
  left: 63px;
}

#left-arrow {
  width: 18px;
  height: 18px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 0px solid black;
  top: 63px;
  left: 44px;
}

#right-arrow {
  width: 18px;
  height: 18px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 0px solid black;
  border-right: 3px solid black;
  top: 63px;
  left: 85px;
}

#top-arrow {
  width: 18px;
  height: 20px;
  border-top: 3px solid black;
  border-bottom: 0px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  top: 44px;
  left: 63px;
}

/* right side of the controller with circle buttons
 * */
.circle-button {
  border-radius: 50%;
  width: 29px;
  height: 29px;
  z-index: 5;
  position: absolute;
  box-shadow: 2px 2px 2px #333333;
}
.circle-button:hover {
  transform: translate(2px, 2px);
  box-shadow: -2px -2px 2px #333333;
}

.button-oval {
  width: 35px;
  z-index: 4;
  transform: rotate(225deg);
  position: absolute;
}
.button-oval > div {
  background-color: #d7d7d7;
}
.button-oval > .middle-rectangle {
  height: 40px;
  position: absolute;
  width: 35px;
  top: 18px;
}
.button-oval > .last-circle {
  border-radius: 50%;
  height: 35px;
  top: 42px;
  position: absolute;
  width: 35px;
}
.button-oval > .first-circle {
  height: 35px;
  border-radius: 50%;
  top: -85px;
  left: 40px;
  width: 35px;
}

#ovalab {
  top: 88px;
  left: 58px;
}

#ovalxy {
  top: 58px;
  left: 28px;
}

#x {
  background-color: #92cc41;
  top: 60px;
  left: 30px;
}

#y {
  background-color: #209cee;
  left: 60px;
  top: 30px;
}

#a {
  background-color: #e76e55;
  top: 60px;
  left: 90px;
}

#b {
  background-color: #f7d51d;
  top: 90px;
  left: 60px;
}

#button-container {
  position: absolute;
  height: 130px;
  width: 130px;
  background-color: gray;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.button-letter {
  font-size: 12px;
  font-family: sans-serif;
  position: absolute;
  color: #d7d7d7;
}

#letter-x {
  top: 5px;
  left: 90px;
}

#letter-y {
  top: 75px;
  left: 20px;
}

#letter-a {
  top: 35px;
  left: 120px;
}

#letter-b {
  top: 105px;
  left: 50px;
  /* middle two buttons
  * */
}

.pill-button {
  background-color: #575d61;
  z-index: 5;
  width: 9px;
  height: 30px;
  border: 2px outset black;
  position: absolute;
  transform: rotateZ(55deg);
  top: 65px;
  border-radius: 48%;
}
.pill-button:hover {
  width: 7px;
  height: 28px;
  border: 3px inset black;
  cursor: pointer;
}

#select {
  left: 100px;
}

#start {
  left: 170px;
}

.pill-text {
  font-size: 12px;
  font-family: sans-serif;
  position: absolute;
  font-style: italic;
  font-size: 12px;
  top: 85px;
  color: #575d61;
}

#select-text {
  left: 80px;
}

#start-text {
  left: 155px;
}

/*# sourceMappingURL=output.css.map */
